.radialProgress {
  position: relative;
  display: inline-grid;
  /* height: var(--size);
  width: var(--size); */

  height: 4.5rem;
  width: 4.5rem;
  place-content: center;
  border-radius: 50%;
  background-color: transparent;
  vertical-align: middle;
  box-sizing: content-box;
  --value: 0;
  --size: 5rem;
  --thickness: calc(var(--size) / 10);
  --radialprogress: calc(var(--value) * 1%);
  transition: --radialprogress 0.3s linear;
}

.radialProgress::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background:
    radial-gradient(farthest-side, var(--progress-color) 98%, #0000) top /
      var(--thickness) var(--thickness) no-repeat,
    conic-gradient(currentColor var(--radialprogress), #0000 0);
  mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - var(--thickness)),
    #000 calc(100% + 0.5px - var(--thickness))
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--thickness)),
    black calc(100% + 0.5px - var(--thickness))
  );
  /* filter: blur(0.5px); */
}

.radialProgress::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: conic-gradient(
    var(--progress-color, currentColor) var(--radialprogress),
    var(--background-color, transparent) 0
  );
  mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - var(--thickness)),
    #000 calc(100% + 0.5px - var(--thickness))
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--thickness)),
    black calc(100% + 0.5px - var(--thickness))
  );
  /* filter: blur(0.5px); */
  animation: radialProgressAnimation 1s ease-in-out forwards;
}

@keyframes radialProgressAnimation {
  0% {
    --radialprogress: 0%;
  }
  100% {
    --radialprogress: calc(var(--value) * 1%);
  }
}
